* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(232, 167, 167);
}

.wrapper {
  max-width: 350px;
  background: #c7bbdd;
  line-height: 2em;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  display: block;
  margin: 20px auto;
  box-shadow: 5px 5px 5px 5px grey;
}

header {
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
  display: block;
  margin: 10px auto;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 10px;
}

header input[type="search"] {
  padding: 5px;
  border-radius: 7px;
  border: transparent;
  outline: transparent;
  color: rgb(65, 61, 61);
  background-color: rgb(238, 232, 237);
}

header input[type="search"]:hover {
  border: 3px solid rgb(121, 121, 170);
  outline: none;
  background-color: rgb(250, 242, 248);
  color: rgb(199, 128, 128);
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

header input[type="submit"] {
  padding: 5px;
  border-radius: 10px;
  border: none;
  background: rgb(222, 157, 222);
}

header input[type="submit"]:hover {
  box-shadow: 2px 5px 5px grey;
  border: 1px solid rgb(129, 129, 170);
  background-color: rgb(223, 184, 223);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

hr {
  width: 90%;
  margin: 15px auto;
}

.weather-information {
  background: #9b89c3;
  border-radius: 20px;
  padding: 10px;
  max-width: 300px;
  display: block;
  margin: 10px auto;
}
 h1 {
  text-align: center;
  color: red;
 }
.current-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

#current-city {
  font-size: 18px;
  text-align: center;
}

.material-symbols-outlined {
  color: red;
}

#current-time {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
p {
  color: rgb(159, 158, 158);
  font-family: "Roboto", sans-serif;
}

.current-temperature {
  margin-top: 10px;
  line-height: 1.5em;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#current-date {
  text-align: center;
  display: block;
  margin: 10px auto;
  color: #c6b9e4;
}

.weather-information p,
footer p{
  color: rgb(73, 69, 69);
  text-align: center;
}

footer a {
  color: #9b89c3;
  text-decoration: none;
  font-weight: 800;
}

#current-humidity,
#current-wind {
  color: red;
}
